<head>
  <meta charset="UTF-8">

  <title>{{ site.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">

  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/normalize.css">
  <script src="/scripts/contrast.js" defer></script>
</head>
