@page {
  size:  A4 landscape;
}
@page {
  margin: 1.5cm 2cm;
}

@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}

@page:right{
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "My book";
    font-size: 9pt;
    color: #333;
  }
}

@media print {
  #page-header {
    page-break-after: always;
    break-after: always;
  }
  .handout-section {
    page-break-before: always;
    break-before: always;
  }
  h1, h2, h3, h4, h5, h6 {
    break-after: avoid-column;
  }
}
