.tag-flex {
	margin: 1em 0 0;
	ul {
		list-style: none;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	  white-space: nowrap;
	  color: white;
		flex-wrap: wrap;
		padding-left: 0;
		li {
	    background-color: #0B93F6;
	    border-radius: 0.5em;
	    padding: 0.2em 0.6em;
			margin-top: 0.2em !important;
	    margin: 0.2em;
		}
	}
}

body.contrast {
	.tag-flex ul {
		color: black;
		li {
			background-color: transparent;
			border: 0.5px solid black;
		}
	}
}
