.textarea {
  font-size: 35px;
  background-attachment: local;
  background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, #777 30px, #777 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px;
  margin: 1em 0;
}
